{% extends 'layouts/main.html' %}
{% block title %}Edit Artist{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" id="edit_form" method="post" action="/artists/{{artist.id}}/edit">
    {{ form.csrf_token }}
       <h3 class="form-heading">Edit artist <em>{{ artist.name }}</em><a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
       <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', autofocus = true) }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control', autofocus = true) }}
            </div>
          </div>
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', autofocus = true) }}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label>Website Link</label>
        {{ form.website_link(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label>Facebook Link</label>
        {{ form.facebook_link(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label>Image Link</label>
        {{ form.image_link(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label>Seeking Venues?</label>
        {{ form.seeking_venue(class_ = 'checkbox-inline', autofocus = true) }}
      </div>
      <div class="form-group">
        <label>Where are you looking to perform?</label>
        {{ form.seeking_description(class_ = 'form-control', placeholder='Add a description', autofocus = true) }}
      </div>
    </form>
  </div>
  <form class="form" id="delete_form" method="post" action="/artists/{{artist.id}}/delete"/>
  <div class="btn-toolbar form-wrapper">
      <input type="submit" form=edit_form value="Edit Artist" class="btn btn-primary btn-lg btn-block">
      <input type="submit" form=delete_form value="Delete Artist" class="btn btn-warning btn-lg btn-block">
  </div>
{% endblock %}